// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  "extends": "airbnb",
  "rules" : {
  	"no-multi-spaces": [2, { exceptions: { "VariableDeclarator": true } }],
  	"strict": [0],
  	"no-console": [0]
  }
}
